html,body{
    background-image: linear-gradient(270deg, grey, rgb(69, 201, 201));
    background-color: grey;
    }
a{
    text-decoration: none !important;
}
::-moz-selection { /* Code for Firefox */
  color: rgb(129, 129, 129);
  background: greenyellow;
}

::selection {
  color: rgb(129, 129, 129);
  background: rgba(154, 190, 102, 0.562);
} 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
        }
    
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
        }
    
.sidenav a:hover {
    color: #f1f1f1;
        }
    
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
        }
    
@media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
            }
    
.sidenav a {
    font-size: 18px;
            }
        }
.grad1 {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, rgb(74, 71, 211), rgb(69, 201, 201)); /* Standard syntax (must be last) */
    }

.card{
    margin-bottom: 10px;
}
.card-decoration{
    background-color: rgba(252, 246, 246, 0.253);
    box-shadow: 1px 1px 10px #261f68;
    border: 0;
}
.card-body{
    text-align: center;  
    padding: 0;
    font-size: 0.75rem;
}
.card-quicks, .card-quicks>a>img{
    border-radius: 15%;
}
.on-card-shop-name{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(216, 49, 49);
}
.on-card-shop-name:hover{
    color:  rgb(160, 37, 37);
}
.shop-card-details-ques{
    font-size: 0.7rem;
    color: rgb(112, 109, 109);
}
.shop-card-details-ans{
    font-size: 0.7rem;
}
.shop-on-card-review{
    font-size: 0.7rem;
}
.shop-area-on-card>a{
    font-size: 0.8rem;
    font-weight: 550;
    text-decoration: none;
    color: rgb(63, 55, 133);
}
.shop-address-on-card{
    font-size: 0.7rem;

}
@media screen and (min-width: 650px) {
#carouselExampleFade,.carousel-item>img {width: 90vw; height: 70vh;}
#carouselExampleFade{margin:0 5vw} 
main{margin:0 5vw; text-align: justify;}

}
@media screen and (min-width: 850px) {
#carouselExampleFade,.carousel-item>img {width: 80vw; height: 70vh;}
#carouselExampleFade{margin:0 10vw;}
.shop-card-details-ques,
.shop-card-details-ans,
.shop-address-on-card,
.shop-area-on-card>a,
.shop-on-card-review{
    font-size: 1rem;
}
main{margin:0 10vw; text-align: justify;}

}
.review-bar {
  width: 100%;
  background-color: rgba(202, 196, 196, 0.24);
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: khaki;
}

.star5 {width: 90%; }
.star4 {width: 80%; }
.star3 {width: 65%; }
.star2 {width: 60%; }
.star1 {width: 72%;}
#reviews>a{
    color: rgb(104, 95, 134);
    font-weight: 500;
}
.checked {
  color: orange;}
